.container {
  padding: 0 2rem;
  margin: 1rem;
}

.topContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 1rem;
  border-bottom: 0.2rem solid darkblue;
}

.topContainer h1 {
  color: darkblue;
}

.leftContainer {
  grid-column-start: 1;
}

.rightContainer {
  grid-column-start: -1;
}

.aboutMe {
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  .topContainer {
    display: block;
  }
}
